body {
  font-size: 25px;
  text-align: justify;
  background: url("real_heart.png") no-repeat;
  background-size: 250px;
  background-attachment: fixed, scroll;
  background-position: bottom right;
  background-color: rgb(252, 224, 232);
  color: rgb(58, 1, 1);
}

.jumbotron {
  font-size: larger;
  background-color: transparent;
  text-align: center;
}

.jumbotron div.banner {
  height: 200px;
  background-image: url("heart.png");
  background-size: contain;
  text-align: center;
}

