<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">

  </head>


  <body style = "background: url(https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/rich_media_quiz/topic/rmq_heart_anatomy/405x225_getty_rf_illustration_of_heart.jpg?resize=692px:*) no-repeat; background-size: cover; width:100%; height: 100%; background-position: center;">
  
  <div>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Home</a> 
        <a class="navbar-brand" href="sampledata">Sample data</a>
        <a class="navbar-brand" href="info">Information</a>
        <a class="navbar-brand" href="model">machine learning model</a>
    </nav>  
      <div class="jumbotron">
          <h1 class="display-3">What is a Cardiovascular Disease?</h1>
        

      
      </div>
        <p>
            Heart disease describes a range of conditions that affect your heart. Diseases under the heart disease umbrella include blood vessel diseases, such as coronary artery disease; heart rhythm problems (arrhythmias); and heart defects you're born with (congenital heart defects), among others.
            The term "heart disease" is often used interchangeably with the term "cardiovascular disease." Cardiovascular disease generally refers to conditions that involve narrowed or blocked blood vessels that can lead to a heart attack, chest pain (angina) or stroke. Other heart conditions, such as those that affect your heart's muscle, valves or rhythm, also are considered forms of heart disease.
            Many forms of heart disease can be prevented or treated with healthy lifestyle choices.

    
        </p>
          
          <p><b><u>Cardiovascular disease symptoms may be different for men and women. For instance, men are more likely to have chest pain; women are more likely to have other symptoms along with chest discomfort, such as shortness of breath, nausea and extreme fatigue.</u></b></p>
          
          <p><em><b>Symptoms of heart disease in your blood vessels (atherosclerotic disease):</b></em></p>
          
          <p>Chest pain, chest tightness, chest pressure and chest discomfort (angina)
          Shortness of breath
          Pain, numbness, weakness or coldness in your legs or arms if the blood vessels in those parts of your body are narrowed
          Pain in the neck, jaw, throat, upper abdomen or back</p>

          <p><em><b>Heart disease symptoms caused by abnormal heartbeats (heart arrhythmias):</b></em></p>
          <p>A heart arrhythmia is an abnormal heartbeat. Your heart may beat too quickly, too slowly or irregularly. Heart arrhythmia symptoms can include:</p>
            <p><ul>Fluttering in your chest</ul>
              <ul>Racing heartbeat (tachycardia)</ul>
              <ul>Slow heartbeat (bradycardia)</ul>
              <ul>Chest pain or discomfort</ul>
              <ul>Shortness of breath</ul>
              <ul>Fainting (syncope) or near fainting</ul>
            
            </p>

            <p><em><b>Heart disease symptoms caused by heart defects:</b></em></p>
            <p>Serious congenital heart defects — defects you're born with — usually become evident soon after birth. Heart defect symptoms in children could include:</p>
            <p><ul>Pale gray or blue skin color (cyanosis)</ul>
              <ul>Swelling in the legs, abdomen or areas around the eyes</ul>
              <ul>In an infant, shortness of breath during feedings, leading to poor weight gain</ul>
          
        

            </p>
            <p><em><b>Heart disease symptoms caused by weak heart muscle (dilated cardiomyopathy)</b></em></p>
            <p>As the condition worsens, symptoms may include:</p>
            <p><ul>Breathlessness with exertion or at rest</ul>
              <ul>Swelling of the legs, ankles and feet</ul>
              <ul>Fatigue</ul>
            <ul>Irregular heartbeats that feel rapid, pounding or fluttering</ul>
              <ul>Dizziness, lightheadedness and fainting</ul>


              <p><em><b>Heart disease symptoms caused by valvular heart disease:</b></em></p>
              <p>The heart has four valves — the aortic, mitral, pulmonary and tricuspid valves — that open and close to direct blood flow through your heart. Valves may be damaged by a variety of conditions leading to narrowing (stenosis), leaking (regurgitation or insufficiency) or improper closing (prolapse).</p>
                <p>
                <ul>Fatigue</ul>
              <ul>Shortness of Breath</ul>
            <ul>Irregular heartbeat</ul>
          <ul>Swollen feet or ankles</ul>
        <ul>Chest Pain</ul>
      <ul>Syncope</ul></p>
          
            
            </p>


          <p><b>HELPFUL LINKS:</b></p>
        <ul>https://www.publichealthontario.ca/en/diseases-and-conditions/chronic-diseases-and-conditions/cardiovascular-disease</ul>
        <ul>https://www.who.int/news-room/fact-sheets/detail/cardiovascular-diseases-(cvds)</ul>
        <ul>https://www.mayoclinic.org/diseases-conditions/heart-disease/symptoms-causes/syc-20353118</ul>

              </div>
          </div>
      </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>